@font-face {
  font-family: "Aclonica";
  font-display: swap;
  src: url("../fonts/Aclonica-Regular.woff") format("woff"), url("../fonts/Aclonica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.btn {
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 307px;
  height: 36px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.btn:hover {
  cursor: pointer;
}

.btn-add {
  border: none;
  position: relative;
  width: 30px;
  height: 30px;
  background: #58c830;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-add::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-add::before {
  content: "";
  display: block;
  width: 2px;
  height: 12px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn-add_close {
  position: relative;
  width: 30px;
  height: 30px;
  background: #ee8973;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-add_close::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-add_close::before {
  display: none;
}

.btn-form {
  background: #72c455;
  border-radius: 3px;
  width: 100%;
  height: 44px;
  margin-top: 23px;
  border: none;
  font-size: 20px;
  margin-bottom: 23px;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*:focus {
  outline: none;
}

.container {
  max-width: 953px;
  margin: 0 auto;
  padding: 0 5px;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  height: 71px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d5d5d5;
}

.header__inner {
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a {
  font-family: Aclonica;
  font-weight: 400;
  font-size: 23px;
  line-height: 26px;
  margin-right: 10px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__name {
  margin-right: 33px;
}

.addworkers {
  height: 120px;
  border: 1px solid #cdcdcd;
}

.addworkers__inner {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add {
  padding: 38px 0;
}

.add__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add__title {
  margin-bottom: 34px;
}

.add-block {
  background: rgba(140, 140, 140, 0.1);
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  max-width: 843px;
  width: 100%;
  margin-bottom: 15px;
}

.add-block__work {
  min-height: 47px;
  padding: 0 10px 0 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-block__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.chooseworker {
  display: none;
  max-width: 803px;
  min-height: 57px;
  padding: 0 17px 0 21px;
  margin: 0 auto;
  margin-bottom: 23px;
  background: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.chooseworker__wrapp {
  width: 100%;
  height: 57px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chooseworker__form {
  display: none;
  width: 100%;
  padding: 0 15px;
}

.chooseworker__form-descr {
  float: left;
  max-width: 600px;
  width: 100%;
  height: 121px;
  padding: 12px 14px;
  resize: none;
}

.chooseworker__form-time {
  padding: 12px 14px;
  float: right;
  width: 115px;
  height: 51px;
  margin-bottom: 16px;
}

.chooseworker__form-price {
  padding: 12px 14px;
  float: right;
  width: 115px;
  height: 51px;
}

.chooseworker__form div {
  display: none;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #088323;
}

.chooseworker__active {
  min-height: 315px;
}

.chooseworker__active .chooseworker__form {
  display: block;
}

.add-block__active {
  padding: 0 5px;
}

.add-block__active .add-block__work {
  margin-bottom: 20px;
  border-bottom: 1px solid #dedede;
}

.add-block__active .chooseworker {
  display: block;
}

.tasks {
  padding: 30px 0;
}

.tasks__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.tasks__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.tasks__tabs li {
  padding: 10px;
  border-radius: 5px;
}

.tasks__tabs li:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.tasks__uncompleted {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  margin-right: 63px;
}

.tasks__uncompleted span {
  border: none;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30px;
  height: 27px;
  margin-left: 13px;
  background: #ee8973;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.tasks__uncompleted span_active {
  border-bottom: 2px solid silver;
}

.tasks__completed {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  padding-bottom: 10px;
}

.tasks__completed_active {
  border-bottom: 2px solid silver;
}

.tasks__completed span {
  border: none;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30px;
  height: 27px;
  margin-left: 13px;
  background: #6cce49;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.tasks__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks__countprice {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  margin-right: 24px;
}

.tasks__counttime {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

.tasks-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px 0 17px;
  width: 100%;
  min-height: 61px;
  background: rgba(188, 188, 188, 0.1);
  border: 0.5px solid #a9a9a9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tasks-block__center {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks-block__time {
  margin-right: 15px;
}

.tasks-block__btn {
  border: none;
  width: 109px;
  height: 37px;
  background: #6cce49;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

.tasks-block__btn:hover {
  opacity: 0.8;
}

.tasks-block__btn_close {
  background: #ee8973;
}

.tasks__content {
  display: none;
}

.tasks__content_active {
  display: block;
}

.tasks-block_close {
  display: none;
}

.regform {
  padding: 77px 10px;
}

.regform__title {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-bottom: 100px;
}

.regform form {
  margin: 0 auto;
  max-width: 448px;
}

.regform form input {
  width: 100%;
  height: 45px;
  margin-bottom: 17px;
  padding: 0 17px;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.regform__select {
  width: 100%;
  height: 45px;
  margin-bottom: 17px;
  padding: 0 17px;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.regform__select option {
  font-size: 15px;
}

.regform__select option:checked {
  display: none;
}

.regform #select_categories {
  display: none;
}

@media (max-width: 810px) {
  .chooseworker__form-time {
    float: none;
    margin-bottom: 0;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
  }

  .chooseworker__form-price {
    float: none;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
  }
}

@media (max-width: 625px) {
  .tasks-block__center {
    margin-left: 10px;
  }
}

@media (max-width: 435px) {
  .addworkers__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 400px) {
  .btn__addworkers {
    width: 250px;
  }
}